<ion-header>

  <ion-navbar>
    <ion-title>AAAInteresPrincipal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoInicial">
  <h2>¿Cual es tu interés principal?</h2>
  {{mensajeError}}
  <div *ngFor="let pojo of listaSeleccionados; let i = index; trackBy: trackByFn">
    <interes-deporte 
    [nombre]="pojo.deporte.nombre"
    [opciones]="listaOpciones" 
    (selectOpcion)="registrarSeleccion($event)"
    ></interes-deporte>
  </div>
  
  <button ion-button full (click)="accionFinalizar()" *ngIf="mostrarBoton">Finalizar registro</button>
</ion-content>
