<ion-header>

  <ion-navbar>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-avatar item-start *ngIf="userData.picture != null">
                <img [src]="userData.picture" /> 
                </ion-avatar>
                <ion-avatar item-start *ngIf="userData.picture == null">
                  <img src="../../assets/imgs/happyFace.png" />
                </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear>
              <ion-icon name="bonfire"></ion-icon>
              <div>4</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear (click)="logout()">
                <ion-icon name="exit"></ion-icon>
                <div>Salir</div>
              </button>
          </ion-col>
        </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoInicial">
pagina inicial
<br/>
{{  userData.username }}
<p>Email: {{ userData.email }}</p>
<p>Nombre: {{ userData.first_name }}</p>
<br/>
<button ion-button full (click)="accionIniciarAAA()" *ngIf="habilitarRegistro">Ingresar info básica</button>
<div *ngIf="!habilitarRegistro">
    Información básica de registro diligenciada.
</div>
<br/>

<tarjeta-noticia text="uno"></tarjeta-noticia>
<tarjeta-noticia text="dos"></tarjeta-noticia>
<tarjeta-noticia text="tres"></tarjeta-noticia>

</ion-content>
