<ion-header>

  <ion-navbar>
    <ion-title>inicial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoInicial">
pagina inicial
<br/>
<br/>
<div class="centro">
  <ion-card *ngIf="userData">
    <ion-card-header>{{  userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>Nombre: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>
</div>
<br/>
<br/>

<button ion-button full (click)="logout()">Cerrar sesión</button>
<button ion-button full (click)="accionIniciarAAA()" *ngIf="habilitarRegistro">Ingresar info básica</button>
<br/>
<div *ngIf="!habilitarRegistro">
    Información básica de registro diligenciada.
</div>

</ion-content>
