<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondoInicial">
  
  <h2 class="centro">CLUBSPO</h2>
  <h5 class="centro">unidos somos más</h5>
  <br/> 
  {{ mensajeLog }}
  <br/> 
  <div class="centro">
    <ion-card *ngIf="userData">
      <ion-card-header>{{  userData.username }}</ion-card-header>
      <img [src]="userData.picture" />
      <ion-card-content>
        <p>Email: {{ userData.email }}</p>
        <p>Nombre: {{ userData.first_name }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <br/>
  <br/>
  <br/>

  <div *ngIf="conectado == false">
    <button ion-button full (click)="faceLoginApp()">Facebook</button>
    <br/>
    <button ion-button full (click)="googleLogin()">Google</button>
    <br/> 
    <button ion-button full (click)="irCuentaPropia()">Cuenta propia</button>
  </div>
  <div *ngIf="conectado == true">
    <button ion-button full (click)="logout()">Cerrar sesión</button>
  </div>
  <button ion-button full (click)="irPrincipal()">ir a pagina principal</button>
  
</ion-content>
