page-home {

    .fondoInicial {
        //background-image: url('assets/imgs/login-fondo.jpg');
        //background-size: cover;
        //background: red !important;
        background-image: url('../assets/imgs/login-fondo-02.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    ion-content {
        //background-image: url('assets/imgs/login-fondo.jpg') !important;
        //background: sienna !important;
        color: white !important;
    }

}