// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
    //background-image: url('assets/imgs/login-fondo.jpg') !important;
    //background: sienna !important;
    color: white !important;
}

.centro {
    align-content: center;
    text-align: center;
}

.fondoInicial {
    //background-image: url('assets/imgs/login-fondo.jpg');
    //background-size: cover;
    background: darkslategray !important;
    /* FONDO CON IMAGEN
    background-image: url('../assets/imgs/login-fondo-02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    */
}

.fondoInput {
    //opacity: 0;
    background-color: rgba(76, 175, 80, 0.1);
}

.textoBlanco{
    color: white !important;
}

.label{// .label .label-md .item-input 
    color: violet !important;
    opacity: 1 !important;
}