<div>
  {{nombre}}
  <br/>
  <table border="1" width="100%">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <ion-img width="100" height="100" src="assets/imgs/misteryBox.png"></ion-img>
            </td>
          </tr>
          <tr>
            <td>
              <ion-img 
              width="20" height="20" 
              src="assets/imgs/eliminar.png" 
              (click)="eliminarDeporte()"
              ></ion-img>
            </td>
          </tr>
        </table>
        
      </td>
      <td width="100%" height="100%">
        <ion-list radio-group [(ngModel)]="seleccion" >
          <ion-item-sliding *ngFor="let checkBool of lista | async">
            <ion-item>
              <ion-label>
                {{checkBool.texto}}
              </ion-label>
              <ion-radio value="{{checkBool.$key}}" (ionSelect)="checkSeleccionado()"></ion-radio>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </td>
    </tr>
  </table>
</div>